body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #ff9100 0%, #000000 100%);
    font-family: "Montserrat", sans-serif;
    color: #f8f7f7;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    border-radius: 15px;
}

.card {
    transition: transform 0.2s ease;
}
.card:hover {
    transform: scale(1.05);
}
::placeholder {
    color: #ffffff !important;
}
.btn-outline-warning {
    color: #fff !important;
    border-color: #ff9100 !important;
}

.btn-outline-warning:hover {
    background-color: #ff9100 !important;
    color: #000 !important;
}
